*{margin: 0; padding: 0;}
body{color: #fff; font-family: 'Oswald', sans-serif;}
a{text-decoration: none; color: #fff;}
ul{list-style: none;}



#top_bg{width: 100%; height: 752px; 
  background: url(../images/bg_top.jpg)top center no-repeat;
  background-size: cover;
 
}

#top{width: 100%; height: 200px; background: rgba(255, 255, 255, 0.5);}
.top_inner{width: 1320px; height: 200px; margin: 0 auto; }
.nav{text-align: center; padding: 30px 0 0 55px; 
}
.nav li{float:left;}
.nav li a{display:block; font-size: 25px; text-transform: uppercase; letter-spacing: 3px; padding: 50px 60px;}

/* .nav li:first-child a{padding-left:0; }
.nav li:last-child a{padding-right: 0;} */
.title{width: 1320px; height: 552px; margin: auto; position: relative;}
.title h1{position: absolute; top: 40%; left: 156.215px; font-size: 154px; transform: translateY(-50%); letter-spacing: 3px; }

#wrap{width: 100%; height: 3248px; background: url(../images/bg_middle.jpg) center top no-repeat;
background-size: cover; 
}
/*section1*/
#section1{width: 1320px; height: 1010px; margin: auto; position: relative; margin-bottom: 50px;}
.content1 h1{color: #1f244b; letter-spacing: 1px; font-size: 80px; height: 240px; line-height: 80px; padding-top: 60px;}
.content1 span{font-size: 110px;}
.content1 li{float: left; width: 735px; height: 850px; text-align: center;}
.content1 li:last-child{width: 585px; height: 850px;}
.content1 li:nth-child(2) img{padding-top: 50px;}
.content1 img{display: inline-block;}
.content1 img:nth-child(3){padding: 0 20px;}
.beer{display: block; position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%); font-size: 50px; letter-spacing: 3px; border:12px solid #18224E; padding: 0px 50px; color: #18224E;}

/*section2*/
#section2{width: 1320px; height: 939px; margin: auto; position: relative; padding-bottom:50px}
.content2{position: absolute; top: 194.5px;}
.content2 li{width: 440px; height: 530px; float: left; text-align: center;}
#section2 h1{color: #F26350; letter-spacing: 1px; font-size: 80px; height: 240px; line-height: 80px; width: 735px; position: absolute; top: 10px ; left:94px; }
#section2 span{font-size: 110px;}
.content2 li:nth-child(1) img{padding-top: 90px;}
.content2 li:nth-child(2) img{padding-top: 80px;}
.content2 li:nth-child(3) img{padding-top: 10px;}
.content2 img{display: inline-block; }
.merch{display: block; position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); font-size: 50px; letter-spacing: 3px; border:12px solid #18224E;  color: #18224E;
padding: 0px 50px;}

/*section3*/
#section3{width: 1320px; height: 1131px; margin: auto; padding-top
:17px;}
.content3 li{width: 660px; height: 566px; float: left; }
/**/
.box1, .box2, .box3, .box4{position: relative;}
.link, .link2, .link3, .link4{width: 660px; height: 170px; background: #18224E; position: absolute; top: 0; transition: all 1s ; opacity: 0; text-align: center;}
.box1:hover .link{transform: translateY(396px); opacity: 1;}
.box2:hover .link2{transform: translateY(396px); opacity: 1;}
.box3:hover .link3{transform: translateY(396px); opacity: 1;}
.box4:hover .link4{transform: translateY(396px); opacity: 1;}

.link li a,.link2 li a,.link3 li a,.link4 li a{display:block; font-size: 80px; width: 100%; height: 170px; padding-top: 20px;}
/**/
#bottom video{width: 100%;
display: block; }

/* video{display: block; width: 100%; height: 620px;} */

#footer{width: 100%; height: 382px; background: url(../images/footer.png) center top no-repeat; background-size: cover;}
.footer_inner{width: 1320px; height: 382px; margin: 0 auto; position: relative;}
.logo{position: absolute; left: 50%; top: 100px; transform: translateX(-50%);}






